/* Imports */

/* Variables */

/* Overall */

html {
  scroll-behavior: smooth;
}

body {
    background-color: #171718;
    color: #FBFBFB;
}


/* Typography */ 
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {
    color: #FBFBFB;
}

/* Nav */
#nav{
    position: fixed;
    top: 10px;
    right: 0px;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    font-size: 24px;
    margin-right: 40px;
}

#nav li:hover {
    transform-origin: 100% 100% 0;
    color: #7aefe3;
    transform: scale(1.1);
    border-bottom: 3px dashed #42f4e2;
    margin-right: 60px;
    transition-duration: 1000ms;
    cursor: pointer;
}

/* Page Layout */
.section{
    min-height: 100vh;
}