/* Imports */

  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Variables */

/* Overall */

html {
  scroll-behavior: smooth;
}

body {
    background-color: #171718;
    color: #FBFBFB;
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
}


/* Typography */ 

h1 {
  color: #ede8e8;
}

h2 {
  color: #ede8e8;
}

h3 {
  color: #ede8e8;
}

h4 {

}

h5 {

}

p {

}

a {
   
}

/* Logo */
#Logo{
  position: fixed;
  top: 20px;
  left: 40px;
  font-size: 30px;
}

/* Nav */
#nav{
  position: fixed;
  top: 20px;
  right: 0px;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  font-size: 24px;
  margin-right: 20px;
  opacity: .8;
}

#nav li:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;
}

#nav a{
  color: #FBFBFB;
}

/* Page Layout */
.section{
    min-height: 100vh;
}

/* Hero Section */

.imageBG{
  opacity: .5;
  object-fit: cover;
  z-index: 1;
}

#TitleIMG{
  background-image: url("../images/BeanieProfile.JPG");
  background-attachment: fixed;
  background-color: #8f8e8e;
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: -1200px;
  background-size: 2000px;
  background-size: fixed;
}

#TitleTXT{
  margin-top: 100px;
  font-size: 13vw;
  color: #ede8e8;
  font-family: "Comfortaa";
}

#SubTitleTXT{
  font-size: 5vw;
  color: #ede8e8;
  font-family: "Comfortaa";
}

.caseStudy{
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.imagetest{
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: .75;
}

.imagetest:hover{
  opacity: 1;
  cursor: pointer;
}

#bio{
  background-image: url("../images/Sitting.jpg");
  background-attachment: fixed;
  background-color: #8f8e8e;
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: -1000px;
  background-size: 2000px;
  background-size: fixed;
}

.right-align{
  margin-right: 20px;
}

.left-align{
  margin-left: 40px;
  margin-bottom: 50px;
  margin-right: 100px;
}

.bioBodyLeft{
  margin-top: 40px;
  margin-left: 40px;
  max-width: 600px;
  margin-right: 40px
}

.section img{
  width: 100%;
}

#Contact {
  background-image: url("../images/FruitStand.JPG");
  background-attachment: fixed;
  background-color: #8f8e8e;
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: 0;
  background-size: 2000px;
  background-size: fixed;
}